
<html ng-app="app">
<head>
    <link rel="stylesheet" type="text/css" href="app/styles.css">
    <title>Inducta angular</title>
    
</head>
<body>
    <!-- ovo je alias ng-controller ="Main as vm" -->
    <div class="container" ng-controller="Hidden">
        <input type="text" ng-model="food" placeholder="kung fu ?" />
            <button ng-click="kungfu()">
    <!-- add something nice here-->
    </button>
    </div>   
       
    <!--<textarea ng-model="vm.jsonVar" ng-list="&#10;" ng-trim="true"></textarea>-->
     
    

    <div ng-controller="Main">
        <label>u know</label><br>
          <p ng-bind="food">{{food ? food+'?' : 'nothing?'}}</p>!
    </div>
        
        <button ng-class="mk" ng-click="imHungry()">
    <!--add something nice here-->
        </button>
    </div>
    
    
    <!--komentar skripte-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/main.js"></script>
    <script src="app/hidden.js"></script>


</body>
</html>
