.cursor {
  cursor: move;
}

.read-out {
  margin-top: 30px;
}

.dragging {
  margin: -1px;
  border: 1px dashed #ccc;
}

.drop-area {
  border: 2px dashed #ccc;
  width: 100%;
  min-height: 200px;
}
body {
    background-color:lightblue
}

.mk {
    color:indianred
        /*uve found the red button, eat some more*/
}